.wrapper-metric {
  display: grid;
  text-align: center;
  background-color: var(--white-100);
  height: 200px;
  max-width: 270px;
  width: auto;
  cursor: pointer;
  border: solid 3px var(--green-200);
  border-radius: 5px;
  padding: 5px 5px;
}

h1 {
  font-size: var(--header1);
}
