.wrapper {
  display: grid;
  text-align: center;
  background-color: var(--color-additional);
  height: 200px;
  width: 300px;
  cursor: pointer;
  border: solid 2px red;
  border-radius: 5px;
}

h1 {
  font-size: var(--header1);
}
