.main-wrapper {
  margin: 0 auto;
  align-items: center;
}

/*** Responsive Employee Section ***/
/* Mobile */
@media (max-width: 640px) {
  .wrapper-responsive-employee {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media (min-width: 1008px) {
  .wrapper-responsive-employee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
