body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

/**** Color and Typography variables for using in the whole application ****/

:root {
  /* Primary Color Monochromatic Scheme */
  --primary-100: #3fa4e8;
  --primary-200: #75acd1;
  --primary-300: #2a8ccd;
  --primary-400: #067ecf;
  --primary-500: #386dae;
  --primary-600: #1553a0;

  /* Specific Color Scheme */
  --green-100: #ace073;
  --green-200: #52ae32;

  --yellow-100: #fdb916;
  --orange-100: #ee7816;

  --red-100: #ca0a15;

  --white-100: #ffffff;

  --grey-100: #f8f8f8;

  /* Color Text Scheme */
  --text-100: #939393;
  --text-200: #505050;
  --text-300: #232323;
  --text-400: #000000;
  --text-inverted: #ffffff;

  /* Typography */
  --header1: 4.2rem;
  --header2: 3.2rem;
  --header3: 2.4rem;
  --header4: 1.8rem;
  --header5: 1.3rem;
  --paragraph: 1rem;
  --helperText: 0.8rem;
}
