body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /*  Color Scheme */
  --color-primary: #000000;
  --color-secondary: #dd0000;
  --color-additional: #ffce00;

  /* Typography */
  --header1: 4.2rem;
  --header2: 3.2rem;
  --header3: 2.4rem;
  --header4: 1.8rem;
  --header5: 1.3rem;
  --paragraph: 1rem;
  --helperText: 0.8rem;
}
