.wrapper-generalinfo {
  min-height: 325px;
  width: auto;
  /* min-width: 350px; */
  max-width: 1400px;
  cursor: pointer;
  color: var(--text-100);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(147, 147, 147, 0.6) 0px 7px 10px 0px; /*  hex text-100 to rgba */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.display-none {
  color: var(--white-100);
}

.icon-green {
  color: var(--green-100);
}

.wrapper-generalinfos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-generalinfo-layout {
  width: auto;
  margin-top: 20px;
}
.wrapper-generalinfo-layout h3 {
  padding: 0px 0px 10px 10px;
}

.generalinfo-headline {
  margin-bottom: 10px;
  background-color: var(--grey-100);
  padding: 0px 10px;
}

.generalinfo a {
  color: var(--primary-500);
}

.generalinfo ul {
  list-style: none;
}
.generalinfo li {
  margin-top: 10px;
}

.generalinfo {
  padding: 0 10px;
}
/**** Media Queries ****/

/*** Mobile ***/
@media (max-width: 640px) {
  .wrapper-generalinfos {
    display: flex;
    flex-direction: column;
  }
}

/*** Tablet ***/
@media (min-width: 641px) and (max-width: 1008px) {
  .wrapper-generalinfos {
    display: flex;
    flex-direction: column;
  }
}
