.wrapper-employee {
  height: 200px;
  width: auto;
  min-width: 350px;
  max-width: 460px;
  cursor: pointer;
  color: var(--text-100);
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(147, 147, 147, 0.6) 0px 7px 10px 0px; /*  hex text-100 to rgba */
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin: auto;
  padding-left: 10px;
}

.employee {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.employee-general {
  padding-left: 20px;
  border-left: solid 10px var(--primary-400);
}

.employee-icons {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px var(--text-100);
}

.employee-icons-phone {
  margin-right: 20px;
  color: var(--primary-400);
}

.employee-icons-envelope {
  color: var(--primary-400);
}

.employee-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  color: var(--primary-400);
}

.h1 {
  font-size: var(--header1);
}

.employee-general h4 {
  color: var(--text-200);
}

.employee-general h4 {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--text-100);
}

.employee-general ul {
  list-style-type: none;
  padding: 2px;
}

.employee-general ul li {
  line-height: 20px;
}
